:root {
  --border-color: #444;
}

body, html {
  margin: 0; padding: 0;
  height: 100vh; width: 100vw;
  overflow: hidden;
  background: hsl(0, 0%, 7%);
  color:white;
}

.editor-layout {
  display: grid;

  --hierarchy-width: 260px;
  --inspector-width: 300px;
  --assets-height: 260px;

  grid-template-columns: var(--hierarchy-width) 1fr var(--inspector-width);
  grid-template-rows: 1fr var(--assets-height);
  height: 100vh;
  user-select: none;
}

#hierarchy { grid-area: 1 / 1 / 2 / 2; cursor: w-resize;}
#scene { grid-area: 1 / 2 / 2 / 3; }
#assets { grid-area: 2 / 1 / 3 / 3; cursor: ns-resize;}
#inspector { 
  grid-area: 1 / 3 / 3 / 4;
  cursor: w-resize;
}

.panel {
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  min-width: 0; min-height : 0; 
  overflow: auto;
  position: relative;
}

.panel:hover {
  cursor: auto;
}

#scene {
  background: #000;
  overflow: hidden;
}

.canvas-placeholder {
  width: 100%; height: 100%;
  display: flex; align-items: center; justify-content: center;
  color: #555;
}