:root {
  --border-color: #444;
}

body, html {
  margin: 0; padding: 0;
  height: 100vh; width: 100vw;
  overflow: hidden;
  background: #111;
  color:white
}

.editor-layout {
  display: grid;
  grid-template-columns: 260px 1fr 300px;
  grid-template-rows: 1fr 260px;
  height: 100vh;
}

#hierarchy { grid-area: 1 / 1 / 2 / 2; }
#scene { grid-area: 1 / 2 / 2 / 3; }
#assets { grid-area: 2 / 1 / 3 / 3;}
#inspector { grid-area: 1 / 3 / 3 / 4; }

.panel {
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  min-width: 0; min-height : 0; 
  overflow: auto;
}

#scene {
  background: #000;
  overflow: hidden;
}

.canvas-placeholder {
  width: 100%; height: 100%;
  display: flex; align-items: center; justify-content: center;
  color: #555;
}